{:version 2, :hash-algorithm :sha256-source-v1, :tested-at "2026-09-19T22:43:48.5561439+02:00", :source "src/veil/ui/grid.clj", :module-hash "92a66c5f118e1bc676e2edea9e57cf99cebb25a969278317773c1eeeac7fad7b", :outcomes {"defn/size/4.1.0/numeric/max-to-min" :killed, "defn/size/4.3.0/numeric/max-to-min" :killed, "defn/cell-size/4.1.0/coercion/int-to-double" :killed, "defn/cell-size/4.3.0/coercion/int-to-double" :killed, "defn/cell-size/4.3.1.1.0/arithmetic/add-to-subtract" :killed}, :forms [{:id "form/0/ns", :kind "ns", :line 1, :end-line 2, :hash "30572c7dc6dc621dfb6c81001c7836a57a58ceaaea1a619e81a0a26ed53b8571", :killed 0, :survived 0, :uncovered 0} {:id "defn/size", :kind "defn", :line 4, :end-line 9, :hash "7ed55a365e0b19d892ff4ac9fc03372b4d28c77a9c6451b8db05971c93ce7da8", :killed 2, :survived 0, :uncovered 0} {:id "defn/cell-size", :kind "defn", :line 11, :end-line 18, :hash "f2a8123ed746deac22d4e7a8beb534cdeb776988d79d8a2d49e68451db272605", :killed 3, :survived 0, :uncovered 0}]}
