{:hierarchical true,
 :src "src",
 :title "Veil",
 :prefix "veil",
 :lang :clojure,
 :proposals [],
 :levels [[game] [ui] [main]],
 :out "target/uml/veil.edn",
 :order [main ui game],
 :foreign [quil]}
